.panel-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.panel.panel-default {
  min-width: 49%;
}

.panel.panel-default > .panel-body {
  padding: 0px;
}

.panel-group .panel.panel-default,
.panel-group .panel+.panel.panel-default{
  margin-top: 10px;
}

.panel.panel-default > .panel-heading {
  background: #fafafa;
  color: #444;
  border-radius: 3px;
}

.panel-heading > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel-heading > div:hover {
  text-decoration: none;
}

.panel-result-title {
  text-transform: capitalize;
  color: #666;
  margin-right: 10px;
}

.panel-heading > div > .well {
  background: white;
  padding: 0 5px;
  margin: 0;
  cursor: pointer;
  color: #444;
  -webkit-font-smoothing: antialiased;
}

.panel-heading > div > .well:hover {
  color: #222;
}

.panel-heading > div > .well:active {
  color: white;
  background: #2d343a;
}

.panel-body .table-responsive {
  margin-bottom: 0px;
  border: none;
}

.table-responsive > .table {
  margin-bottom: 0;
}

.table > tbody > tr:first-child td {
  border-top: 0;
}

.table > tbody > tr > td:last-child {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .panel-group .panel.panel-default {
    width: 100%;
  }
}
