.app {
  text-align: center;
}

.fa {
  margin: 0 5px;
}

.hyperlink {
  color: #e8bd36;
}

.hyperlink:hover {
  color: #d3a618;
  text-decoration: none;
}

.navbar-brand.ftds-brand {
  font-size: 22px;
}

.navbar-nav > li > a {
  font-size: 16px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  background: #2d343a;
  color: white;
  -webkit-font-smoothing: antialiased;
  line-height: 2.5;
}

@media only screen and (max-width: 768px) {
  .footer {
    bottom: initial;
    position: initial;
  }
}
