.app {
  text-align: center;
}

.fa {
  margin: 0 5px;
}

.hyperlink {
  color: #e8bd36;
}

.hyperlink:hover {
  color: #d3a618;
  text-decoration: none;
}

.navbar {
  background: #2d343a;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  box-shadow: 0 0px 1px rgba(0,0,0,0.5);
}

.navbar-brand.ftds-brand {
  font-size: 22px;
  color: white;
  margin-right: 1em;
}

.navbar-nav > li.nav-item > a {
  color: #ddd;
  font-size: 16px;
  text-shadow: none;
}

.navbar-nav > li > a > .fa {
  font-size: 24px;
}

.content {
  padding: 2em 0;
  background: #384048;
  color: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.nav.navbar-nav > li > a:hover {
  color: #fff;
  background: #2d343a;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  background: #2d343a;
  color: white;
  -webkit-font-smoothing: antialiased;
  line-height: 2.5;
}
