.search-container {
  padding: 2em 0;
  background: #384048;
  color: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}

.results-container {
  padding: 2em 0;
}

.search-no-results {
  padding-top: 10em;
  transition: 0.15s padding ease-out;
}

.search-results {
  padding-top: 4em;
  transition: 0.15s padding ease-out;
}

.project-name {
  margin-bottom: 1em;
}

.search-results > .project-name {
  display: none;
}
